@font-face {
    font-family: "Johnston100-Hairline";
    src: url("./fonts/Johnston100-Hairline.woff2") format("woff2"),
      url("./fonts/Johnston100-Hairline.woff") format("woff");
  }
  
  @font-face {
    font-family: "Johnston100-Light";
    src: url("./fonts/Johnston100-Light.woff2") format("woff2"),
      url("./fonts/Johnston100-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "Johnston100-Medium";
    src: url("./fonts/Johnston100-Medium.woff2") format("woff2"),
      url("./fonts/Johnston100-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "Johnston100-Regular";
    src: url("./fonts/Johnston100-Regular.woff2") format("woff2"),
      url("./fonts/Johnston100-Regular.woff") format("woff");
  }
  
  /*
   * Font sizes
   * --------------------------------------------------
   */
  
  html,
  body {
    font-family: "Johnston100", Helvetica, Arial, sans-serif;
  }
  
  h1 {
    font-family: "Johnston100-Regular", Helvetica, Arial, sans-serif;
    font-size: 28px;
  }
  
  h2 {
    font-family: "Johnston100-Light", Helvetica, Arial, sans-serif;
    font-size: 24px;
  }
  
  h3 {
    font-family: "Johnston100-Regular", Helvetica, Arial, sans-serif;
    font-size: 18px;
  }
  
  p {
    font-family: "Johnston100-Light", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  
  a {
    font-family: "Johnston100-Light", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: underline;
  }
  
  strong {
      font-family: "Johnston100-Medium", Helvetica, Arial, sans-serif;
      font-weight: 200;
  }
  
  span {
      font-weight: 500;
  }
  
  /*
   * Header
   * --------------------------------------------------
   */

//    header {
//   background-color: #ffffff !important;
//   border-bottom: none !important;
//   height: 56px !important;
// }  

.bx--side-nav__navigation {
  // border-radius: 6px;
}

.container {
  background-color: white;
}

.bx--side-nav__link-text {
  font-family: "Johnston100-Medium", Helvetica, Arial, sans-serif;
}

a.bx--side-nav__link--current > span {
  color: #0019AB !important;
  font-weight: 200 !important;
}

.bx--side-nav__item {
  margin-top: 5px;
}

a.bx--side-nav__link--current::before {
  background: #0019AB !important;
}

a.bx--side-nav__link[aria-current='page'] {
  background-color: transparent !important;
}

.bx--side-nav__item--active .bx--side-nav__submenu-title {
  font-family: "Johnston100-Medium", Helvetica, Arial, sans-serif;
  color: #0019AB !important;
  font-weight: 200 !important;
}

.bx--side-nav.bx--side-nav--website--light a.bx--side-nav__link > .bx--side-nav__link-text {
  color: #03071C;
}

.container--homepage {
  color: #03071C;
}

// Background colours

.background--beckBlue {
  background-color: #0019AB;
}

.background--johnstonBlack {
  background-color: #03071C;
}

.background--grey90 {
  background-color: #637282;
}

.background--grey70 {
  background-color: #86909E;
}

.background--grey50 {
  background-color: #C1C8D2;
}

.background--grey30 {
  background-color: #E1E4E8;
}

.background--grey20 {
  background-color: #F2F4F5;
}

.background--grey10 {
  background-color: #F7F9FA;
}

.background--black {
  background-color: #000000;
}

.background--white {
  background-color: #FFFFFF;
}

.background--safetyRed {
  background-color: #DC241F;
}

.background--safetyRedLight {
  background-color: #FBE9E8;
}

.background--successGreen {
  background-color: #00A95D;
}

.background--successGreenLight {
  background-color: #C0F4DC;
}

.background--warningYellow {
  background-color: #FAB928;
}

.background--warningYellowLight {
  background-color: #FDEBCE;
}

.background--bakerloo {
  background-color: #B26300;
}

.background--central {
  background-color: #DC241F;
}

.background--circle {
  background-color: #FFC80A;
}

.background--district {
  background-color: #007D32;
}

.background--hammersmithCity {
  background-color: #F589A6;
}

.background--jubilee {
  background-color: #838D93;
}

.background--metropolitan {
  background-color: #9B0058;
}

.background--northern {
  background-color: #000000;
}

.background--piccadilly {
  background-color: #0019A8;
}

.background--victoria {
  background-color: #039BE5;
}

.background--waterlooCity {
  background-color: #76D0BD;
}